body{
    background-color: rgb(226, 118, 136);
}

body h1{
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    background-color: rgb(223, 176, 184);
    padding: 30px;
    font-family: Verdana;
}

.bingkai{
    background-color: rgb(223, 176, 184);
    padding: 50px;
    text-align: center;
    width: max-content;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    font-family: Georgia;
}

.bingkai input[type="text"]{
    width: 250px;
    display: block;
    
}

input[type="text"]{
    text-align: center;
}

.bingkai input[type="submit"]{
    display: block;
    background-color: rgb(190, 70, 152);
    margin: 20px auto;
    width: 100px;
}